$margin: 8px;

// mixins
@import './mixins/Flexbox';

// layout
@import './Page';

// components
@import '../components/configure-offer-card/ConfigureOfferCard';
@import '../components/expandable-card/ExpandableCard';
@import '../components/bike-card/BikeCard';
@import '../components/price-table-card/PriceTableCard';
@import '../components/navigation/Navigation';
@import '../components/subscribe-newsletter-card/SubscribeNewsletterCard';
@import '../components/travel-segment/TravelSegmentCard';

// pages
@import '../pages/TourPage';

.book-now {
  position: fixed;
  z-index: 1000;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  background-color:rgba(255, 255, 255, 0.8);

  padding: $margin;

  display: flex;

  button {
    flex: 1;
    font-weight: 600;
    font-size: 1em;
  }
}

.right {
  margin-left: auto;
  margin-right: 0px;
}

.margin-top {
  margin-top: $margin;
}

.margin-right {
  margin-right: $margin;
}

.margin-bottom {
  margin-bottom: $margin;
}

.margin-left {
  margin-left: $margin;
}

.full-width-button {
  margin-left: $margin;
  margin-right: $margin;
  .md-button {
    margin: 0;
    width: 100%;
  }
}
