.page {
  padding-bottom: 70px;

  md-tabs-wrapper {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 100;
  }


  .page-title-card {
    background-color: rgb(255, 255, 255);
    padding: $margin * 2 $margin * 2 0 $margin * 2;

    h2 {
      padding-bottom: $margin;
      margin-top: 0;
      margin-bottom: 0;

      font-size: 16px;
    }
    h3 {
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;

      font-size: 14px;
      color: rgb(100, 100, 100);
    }
  }
}
