<div class="page">

  <div class="book-now">
    <md-button class="md-raised md-primary" ng-click="::$ctrl.onOrderNowButtonClick()">Jetzt buchen</md-button>
  </div>

  <div class="page-title-card">
    <h2 ng-bind="::$ctrl.data.title"></h2>
    <h3 ng-bind="::$ctrl.data.subtitle"></h3>
  </div>

  <md-tabs md-dynamic-height md-no-pagination md-selected="$ctrl.selectedTabIndex">
    <md-tab label="{{::$ctrl.tabNames[0]}}" class="tour-tab">
      <tour-tab page-name="{{::$ctrl.pageName}}" data="::$ctrl.data">
        <md-button class="md-raised md-primary" ng-click="::$ctrl.onPriceAndDatesButtonClick($ctrl.tabNames[0])">Termine & Preise</md-button>
      </tour-tab>
    </md-tab>

    <md-tab label="{{::$ctrl.tabNames[1]}}" class="bikes-tab">
      <bikes-tab page-name="{{::$ctrl.pageName}}" bikes="::$ctrl.data.bikes">
        <md-button class="md-raised md-primary" ng-click="::$ctrl.onPriceAndDatesButtonClick($ctrl.tabNames[1])">Termine & Preise</md-button>
      </bikes-tab>
    </md-tab>


    <md-tab label="{{::$ctrl.tabNames[2]}}" class="gallery-tab">
      <gallery-tab page-name="{{::$ctrl.pageName}}" is-selected="$ctrl.selectedTabIndex === 2" images="::$ctrl.data.gallery">
        <md-button class="md-raised md-primary" ng-click="::$ctrl.onPriceAndDatesButtonClick($ctrl.tabNames[2])">Termine & Preise</md-button>
      </gallery-tab>
    </md-tab>

  </md-tabs>

  <subscribe-newsletter-card page-name="{{::$ctrl.pageName}}"></subscribe-newsletter-card>

  <configure-offer-card
    page-name="{{::$ctrl.pageName}}"
    available-bikes="::$ctrl.data.bikes"
    selected-bike-1="$ctrl.data.bikes[0]"
    selected-bike-2="$ctrl.data.bikes[1]"
    price-per-room="::$ctrl.data.pricePerRoom"
    price-per-person="::$ctrl.data.pricePerPerson"
    tour-dates="::$ctrl.data.tourDates"
    selected-tour-date="$ctrl.data.tourDates[0]">
  </configure-offer-card>

</div>
