.subscribe-newsletter-card {
  margin: 0 $margin * 2;
  padding: $margin * 2;
  color: rgb(255, 255, 255);
  font-weight: 500;
  background-color: rgb(40,53,147);

  .subscribe-newsletter-card-form {
    margin-top: $margin * 2;

    display: flex;
    flex-direction: row;

    input[type=email] {
      box-sizing: border-box;
      padding: $margin;
      border: 1px solid rgb(200, 200, 200);
      border-radius: 4px;
      height: 30px;
      line-height: 30px;
    }

    $color: rgb(100, 100, 100);
    button {
      color: rgb(255, 255, 255);
      font-weight: 600;
      box-sizing: border-box;
      margin-left: $margin;
      border: 1px solid $color;
      border-radius: 4px;
      background-color: $color;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      height: 30px;
      line-height: 26px;
    }
  }
}